<h3>Achievements</h3>
<ul>
    <li>
        Received the "High-Five Award" for the completion of the Integration of Express Kiosk with the Established V1 PMS.
    </li>
    <li>
        Awarded an "Extra Mile Award" for the completion the improvements and tasks with minimal bugs and fixing the production bugs.
    </li>
    <li>
        Won first prize in the Science of Deduction Event in the Gyanith National Level Technical Symposium conducted by the National Institute of Technology, Puducherry
    </li>
    <li>
        Secured second prize at the Inter-college Paper Presentation in 2019 on IFET College of Engineering, Villupuram
    </li>
    <li>
        Bagged first prize at the Inter-college Quiz Competition in 2018 on Avvaiyar College of Education, Karaikal
    </li>
    <li>
        Received prizes in Science Exhibition
    </li>
    <li>
        Actively participated in State Level Competition for Innovative Science
    </li>
    <li>
        Secured first position in 10th standard
    </li>
</ul>