<h3>Workshops</h3>
<ul>
    <li>
        One day national workshop on "Image Processing using MATLAB: A Research Perspective” organized by Kongu Engineering College in 2018
    </li>
    <li>
        Two days workshop on "3-D Game Development and Augmented Reality " conducted by Pondicherry Engineering College in 2018
    </li>
    <li>
        One day workshop on "Internet of Things using Raspberry Pi" organized by the ESAP, PKIET in association with Vi Microsystem Pvt. Ltd., Chennai held in 2018
    </li>
    <li>
        Achieving an Eminent World Record under the theme "World's Biggest International Hands-On Gaming and Security Workshop" was arranged by Wikitechy in 2018
    </li>
    <li>
        Participated in the International Workshop on "Wireless Sensor Networks for Home and Industrial IoT(S)" organized by the Annamalai University, held in 2018
    </li>
</ul>