<h3>Papers</h3>
<ul>
    <li>
        Paper - 1:
    </li>
    <ul>
        <li>
            Satellite Internet, 16 Oct'19
        </li>
        <li>
            Authors - Sakthivel.P
        </li>
        <li>
            In this paper, I had explained about the uses of satellite internet and starlink. The main concept of this paper is to use satellite in a starlink pattern to obtain the good internet all around the world.
        </li>
    </ul>
    <li>
        Paper - 2:
    </li>
    <ul>
        <li>
            Li-Fi Technologies, 24 Aug'19
        </li>
        <li>
            Authors - Sakthivel.P
        </li>
        <li>
            In this paper, I have explained and worked on the li-fi technologies. The main concept of this paper is to use the li-fi technology instead of spectrum technology
        </li>
    </ul>
</ul>
