<h3>Projects</h3>
<ul>
    <li>
        Title: Cloud Tracking and Prediction, 27 Oct'19 - 16 Mar'20
    </li>
    <li>
        Objective: The main objective of this project is to predict rainy clouds better than the conventional method.
    </li>
    <li>
        Description: In this research project, we had worked on the improvement of weather forecasting and prediction using Python. In this project, we have tracked and predicted the cloud using Lucus Kanade algorithm and regression analysis techniques respectively.
    </li>
</ul>