<div id="content">
  <h2 style="text-align: center;">HTML to PDF in angular app</h2>
  <br>
  <br>
  <table class="table" id="contentToConvert">
    <tbody>
      <tr>
        <th>Type</th>
        <th>Company</th>
        <th>Location</th>
      </tr>
      <tr>
        <th>Product</th>
        <th>Syncfusion</th>
        <th>Chennai</th>
      </tr>
      <tr>
        <th>Product</th>
        <th>Agilysys</th>
        <th>Chennai</th>
      </tr>
      <tr>
        <th>Product</th>
        <th>Zoho</th>
        <th>Chennai</th>
      </tr>
      <tr>
        <th>Service</th>
        <th>TCS</th>
        <th>Chennai</th>
      </tr>
      <tr>
        <th>Service</th>
        <th>Infosys</th>
        <th>Chennai</th>
      </tr>
      <tr>
        <th>Service</th>
        <th>HCL</th>
        <th>Chennai</th>
      </tr>
    </tbody>
  </table>
</div>
<br>
<div>
  <input type="button" class="btn btn-danger" value="convert" (click)="convertToPDF()">
</div>