<h1>My portfolio</h1>
<app-about-me></app-about-me>
<app-achievement></app-achievement>
<app-contact-me></app-contact-me>
<app-education></app-education>
<app-experience></app-experience>
<!-- <app-footer></app-footer> -->
<!-- <app-header></app-header> -->
<app-hobby></app-hobby>
<!-- <app-home></app-home> -->
<app-industrial-visit></app-industrial-visit>
<app-internship></app-internship>
<app-language></app-language>
<app-paper></app-paper>
<app-position></app-position>
<app-project></app-project>
<!-- <app-sidebar></app-sidebar> -->
<app-skill></app-skill>
<app-trait></app-trait>
<app-workshop></app-workshop>