<h3>Internships</h3>
<ul>
    <li>
        Internship - 1:
    </li>
    <ul>
        <li>
            Summer Intern, (27 May'19 - 31 May'19)
        </li>
        <li>
            India Meteorological Department, Regional Meteorological Centre, Chennai
        </li>
        <li>
            Completed in-plant training, and learnt about IMD activities, Seismology, Doppler Weather Radar and Climatology
        </li>
    </ul>
    <li>
        Internship - 2:
    </li>
    <ul>
        <li>
            Summer Intern, (19 Jun'19 - 22 Jun'19)
        </li>
        <li>
            Lenovo, Puducherry
        </li>
        <li>
            In this in-plant training, gained knowledge about the manufacturing operation and hardware implementation
        </li>
    </ul>
    <li>
        Internship - 3:
    </li>
    <ul>
        <li>
            Summer Intern, (21 Jun'18 - 27 Jun'18)
        </li>
        <li>
            Oil and Natural Gas Corporation Limited ONGC, Cauvery Asset, Karaikal
        </li>
        <li>
            Learnt about the Networking, SCADA Systems, Seismic Exploration and Logging Services
        </li>
    </ul>
</ul>