<h3>Experience</h3>
<ul>
    <li>
        Company - 2: Associate Software Analyst @ AGILYSYS Jun 2022 - present
    </li>
    <ul>
        <li>
            Worked on the booking engine (Agilysys Book) and its similar products using Angular. 
        </li>
        <li>
            Working on the Express Kiosk product which is self-service software for the guest to do their own booking using Electron. 
        </li>
    </ul>
    <li>
        Company - 1: Software Engineer @ SYNCFUSION Dec 2020 – Jun 2022
    </li>
    <ul>
        <li>
            Worked on the Gulp.js toolkit to automate the flow of the tedious build process. 
        </li>
        <li>
            Worked on the server to improve the website by implementing new features using C#.
        </li>
        <li>
            Single handedly converted the test cases to Cypress for the Viewer components. 
        </li>
    </ul>
</ul>